.bg-green {
    background-color: #b3bf3791;
}
.bg-grey {
    background-color: #dfdbab91;
}
.nav-item {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: transparent;
}
  
.nav-item:hover {
    color: #000000;
    background-color: #c11d5f7e;
    text-decoration: none;
    border-radius: 0.5rem;
}